.inputContainer {
    display: flex;
    flex-direction: column;
    width: 15%;
    margin: auto;
    align-items: center;
}

.usernameInput {
    margin-bottom: 5%;
    width: 130%;
    height: 5vh;
    border: solid;
    font-size: medium;
    border-color: #0f4c81;
    font-family: 'Lato', sans-serif;
}

.passwordInput {
    margin-bottom: 5%;
    width: 130%;
    height: 5vh;
    border: solid;
    font-size: medium;
    border-color: #0f4c81;
    font-family: 'Lato', sans-serif;
}

.Submit {
    border: solid;
    border-color: #0f4c81;
    width: 140%;
    height: 5vh;
    font-size: medium;
    font-family: 'Lato', sans-serif;
}

.Submit:hover {
    box-shadow: 0px 8px 16px lightblue;
}